<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291960897976-9da2sta2ppgle32tq8i1p0ehikfobac4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291960897976-9da2sta2ppgle32tq8i1p0ehikfobac4</string>
	<key>API_KEY</key>
	<string>AIzaSyBr1T2KhC_rSjtyFQvMstwF0MAVX5ywvsE</string>
	<key>GCM_SENDER_ID</key>
	<string>291960897976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.startcode.SCInstagram</string>
	<key>PROJECT_ID</key>
	<string>scinstagram-72857</string>
	<key>STORAGE_BUCKET</key>
	<string>scinstagram-72857.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291960897976:ios:5b15bef0131f879039cf4d</string>
</dict>
</plist>